.data{
    display: flex;
    flex-direction: column;

    padding-left: 28px;
}

h4{
    margin-top: 0px;
    margin-bottom: 8px;
}

.inputSection{
    margin-top: 8px;
    margin-bottom: 8px;
}

input{
    height: 28px;
    width: 350px;

    border: 2px solid rgb(184, 184, 184);
    border-radius: 6px;
}

.checkSection{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 8px;
    margin-bottom: 8px
}

.check{
    width: 24px;
    height: 24px;

    margin-right: 8px;
}

.buttons{
    display: flex;
    flex-direction: row;

    margin-top: 12px;
}

.addButton{
    padding-top: 6px;
    padding-bottom: 6px;

    width: 100px;

    background-color: rgba(80, 179, 119, 0.074);
    color: rgb(27, 67, 43);

    border: 2px solid rgb(175, 156, 94);
    border-radius: 6px;
}

.resetButton{
    margin-left: 16px;
    padding-top: 6px;
    padding-bottom: 6px;

    width: 100px;
    height: 36px;

    background-color: rgba(175, 175, 175, 0.074);
    color: rgb(92, 92, 92);

    border: 2px solid rgb(176, 176, 176);
    border-radius: 6px;
}